<h2>Product details</h2>
<head>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>
<div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Material</th>
        <th>No of Pcs</th>
        <th>weight</th>
        <th>Price</th>
        <th>Dimensions</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of product">
        <td>{{obj.id}}</td>
        <td>{{obj.name}}</td>
        <td>{{obj.category}}</td>
        <td>{{obj.material}}</td>
        <td>{{obj.no_of_pieces}}</td>
        <td>{{obj.weight}}</td>
        <td>{{obj.price}}</td>
        <td>{{obj.dimensions}}</td>
      </tr>
    </tbody>
  </table>
</div>